/*Général*/

body {
  width: 100%;
  max-width: 1480px;
  height: 5400px;
  background: linear-gradient(180deg, #ffffff 0%, #fbeff3 100%, #efbdcf 100%);
  font-family: Montserrat, sans-serif;
  color: #0c2829;
}

h1,
h2,
h3,
h4 {
  color: #0c2829;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 3vw;
}

p {
  color: #0c2829;
  font-size: 1.5vw;
}

/*Main container*/

section {
  border: solid 1px black;
}

.o-landingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Landing page*/

#o-landingPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Header landing*/

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

/*Logo*/

#logo__joellieSprumont {
  padding: 2vw;
  width: 4vw;
}

/*Menu contact landing*/

.m-contactMenu__landingPage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 98vw;
}

.landing__ldIcon {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 2vw;
  width: 1.5vw;
}

.landing__contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  background-color: #ca2e55;
  border-radius: 25vw 25vw 2vw 25vw;
  height: 2vw;
  width: 8vw;
}

.blue {
  background-color: blue;
}

.landing__contactBtn a {
  font-size: 1.1vw;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.landing__contactBtn:hover {
  background: linear-gradient(
    140deg,
    rgba(202, 46, 85, 0.45) 0%,
    rgba(1, 103, 107, 0.76) 100%
  );
  transition-duration: 0.8s;
}

.landing__contactBtn.transparent {
  background-color: #efbdcf;
  color: rgba(1, 103, 107, 0.76);
}

/*Aside menu landing*/

.aside__landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  transform: rotate(-90deg);
  position: fixed;
  margin-top: 30vw;
  width: 7%;
}

.aside__landing div {
  width: 5.1vw;
}

.aside__landing a {
  font-size: 1.1vw;
  text-decoration: none;
  color: #01676b;
  font-weight: 600;
}

.aside__landing a:hover {
  color: #ca2e55;
  transition-duration: 0.8s;
}

/*Images left*/

.o-landing__images {
  display: grid;
  grid-template-columns: 0.2fr 0.1fr 1.5fr 0.4fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
  width: 45%;
  margin-left: 9vw;
}

#a-landing__photo {
  z-index: 1;
  width: 70%;
  grid-column: 3/4;
  grid-row: 2/3;
}

.a-colorBlock {
  grid-column: 2/4;
  grid-row: 2/4;
  z-index: -2;
  background: linear-gradient(
    140deg,
    rgba(249, 203, 64, 0.45) -0.02%,
    rgba(202, 46, 85, 0.45) 52.55%,
    rgba(1, 103, 107, 0.76) 105.12%
  );
  height: 80%;
  width: 58%;
  margin-top: 15%;
}

/*Presentation right*/

.o-landing__presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  flex-direction: column;
  margin-left: -5vw;
}

h1.hi {
  padding: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

h1.presentation {
  padding: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.blueBold {
  color: #01676b;
  font-weight: 600;
}

h2.chapo {
  font-size: 1.5vw;
  font-weight: 400;
  max-width: 70%;
  padding: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

/*Button*/

.checkoutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  background-color: #ca2e55;
  border-radius: 25px 25px 2px 25px;
  height: 4vw;
  width: 20vw;
}

.checkoutBtn a {
  font-weight: 600;
  font-size: 1.3vw;
  color: #ecfefe;
  text-decoration: none;
}

.checkoutBtn:hover {
  background: linear-gradient(
    140deg,
    rgba(202, 46, 85, 0.45) 0%,
    rgba(1, 103, 107, 0.76) 100%
  );
  transition-duration: 0.8s;
}

/*Profile*/

/*Container*/

.o-profileContainer {
  width: 100%;
  margin-left: 5%;
}

/*Titres*/

.m-profileIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 8vw;
  margin-top: 10vw;
  margin-bottom: 8vw;
}

.profileTitle h2 {
  font-size: 3.5vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.profileSubtitle p {
  font-size: 1.5vw;
  margin-bottom: 0vw;
}

/*Textes*/

.o-profileTexts {
  display: grid;
  grid-template-columns: repeat(3, 2.2fr 0.8fr);
  grid-template-rows: repeat(2, 0.7fr) 1.3fr repeat(2, 0.7fr) 1.4fr repeat(
      2,
      0.7fr
    );
  gap: 1px 1px;
  margin-left: 8vw;
}

.m-profile__one {
  grid-area: 1 / 1 / 4 / 2;
  height: 20vw;
}

.m-profile__two {
  grid-area: 5 / 1 / 9 / 2;
  height: 27vw;
}

.m-profile__three {
  grid-area: 2 / 3 / 5 / 4;
  height: 15vw;
}

.m-profile__four {
  grid-area: 5 / 3 / 9 / 4;
  height: 15vw;
}

.m-profile__five {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 1px 1px;
  grid-area: 3 / 5 / 6 / 6;
}

.a-learn {
  text-align: right;
  font-size: 3.5vw;
  font-weight: 500;
  height: 13.5vw;
}

.hightlight {
  margin-left: 10vw;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 500;
  color: #0c2829;
  background: linear-gradient(
    166.76deg,
    rgba(249, 203, 64, 0.6) 0%,
    rgba(202, 46, 85, 0.456) 41.15%,
    rgba(1, 103, 107, 0.486) 100%
  );
  width: 12vw;
  height: 4.5vw;
  transform: matrix(1, -0.02, 0, 1, 0, 0);
}

/*Skills*/

/*Soft skills*/

/*Projects*/

/*Contact*/

/*Footer*/

footer {
  height: 4%;
}
