/*Général*/

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1480px;
  height: 6400px;
  top: 0;
  background: linear-gradient(180deg, #ffffff 0%, #fbeff3 100%, #efbdcf 100%);
  font-family: Montserrat, sans-serif;
  color: #0c2829;
}

h1,
h2,
h3,
h4 {
  color: #0c2829;
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 3.3vw;
}

h3 {
  font-size: 1.8vw;
  font-weight: 600;
}
p {
  color: #0c2829;
  font-size: 1.4vw;
  line-height: 140%;
}

/*Main container*/

section {
  border: solid 1px black;
}

.o-landingContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Landing page*/

#o-landingPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Header landing*/

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 10%;
}

/*Logo*/

#logo__joellieSprumont {
  padding: 2vw;
  width: 4vw;
}

/*Menu contact landing*/

#m-contactMenu__landing {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 98vw;
  z-index: -10;
}

.landing__ldIcon {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 2vw;
  width: 1.5vw;
}

.landing__contactBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  background-color: #ca2e55;
  border-radius: 25vw 25vw 2vw 25vw;
  height: 2vw;
  width: 8vw;
}

.landing__contactBtn a {
  font-size: 1.1vw;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.landing__contactBtn:hover {
  background: linear-gradient(
    140deg,
    rgba(202, 46, 85, 0.45) 0%,
    rgba(1, 103, 107, 0.76) 100%
  );
  transition-duration: 1s;
}

.transparent {
  opacity: 0.1;
  z-index: -10;
}

/*Aside menu landing*/

.aside__landing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  transform: rotate(-90deg);
  position: fixed;
  margin-top: 40vw;
  width: 5%;
  justify-items: center;
  align-items: center;
}

.aside__landing div {
  width: 7.3vw;
  text-align: center;
}

.aside__landing a {
  font-size: 1.1vw;
  text-decoration: none;
  color: #01676b;
  font-weight: 600;
}

.aside__landing a:hover {
  color: #ca2e55;
  transition-duration: 1s;
}

/*Images left*/

.o-landing__images {
  display: grid;
  grid-template-columns: 0.2fr 0.1fr 1.5fr 0.4fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
  width: 45%;
  margin-left: 9vw;
}

#a-landing__photo {
  z-index: 1;
  width: 70%;
  grid-column: 3/4;
  grid-row: 2/3;
}

.a-colorBlock {
  grid-column: 2/4;
  grid-row: 2/4;
  z-index: -2;
  background: linear-gradient(
    140deg,
    rgba(249, 203, 64, 0.45) -0.02%,
    rgba(202, 46, 85, 0.45) 52.55%,
    rgba(1, 103, 107, 0.76) 105.12%
  );
  height: 80%;
  width: 58%;
  margin-top: 15%;
}

#a-landing__photo:hover {
  background: linear-gradient(
    140deg,
    rgba(1, 103, 107, 0.76) -0.02%,
    rgba(202, 46, 85, 0.45) 52.55%,
    rgba(249, 203, 64, 0.45) 105.12%
  );
  transition: 1s;
}

/*Presentation right*/

.o-landing__presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  flex-direction: column;
  margin-left: -5vw;
}

h1.hi {
  padding: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

h1.presentation {
  padding: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.blueBold {
  color: #01676b;
  font-weight: 600;
}

h2.chapo {
  font-size: 1.5vw;
  font-weight: 400;
  max-width: 70%;
  padding: 1vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

/*Button*/

.checkoutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
  background-color: #ca2e55;
  border-radius: 25px 25px 2px 25px;
  height: 4vw;
  width: 20vw;
}

.checkoutBtn a {
  font-weight: 600;
  font-size: 1.3vw;
  color: #ecfefe;
  text-decoration: none;
}

.checkoutBtn:hover {
  background: linear-gradient(
    140deg,
    rgba(202, 46, 85, 0.45) 0%,
    rgba(1, 103, 107, 0.76) 100%
  );
  transition-duration: 1s;
}

/*Profile*/

/*Container*/

.o-profileContainer {
  width: 100%;
  margin-left: 2%;
}

/*Titres*/

.m-profileIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 7vw;
  margin-top: 8vw;
  margin-bottom: 5vw;
}

.profileTitle h2 {
  font-size: 3.5vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.profileSubtitle p {
  font-size: 1.5vw;
  margin-bottom: 0vw;
}

/*Textes*/

.o-profileTexts {
  display: grid;
  grid-template-columns: repeat(3, 2.2fr 0.8fr);
  grid-template-rows: repeat(2, 0.7fr) 0.7fr repeat(2, 0.5fr) 1fr repeat(
      2,
      0.7fr
    );
  gap: 1px 1px;
  margin-left: 7vw;
}

.m-profile__one {
  grid-area: 1 / 1 / 4 / 2;
  height: 20vw;
}

.m-profile__two {
  grid-area: 5 / 1 / 9 / 2;
  height: 25vw;
}

.m-profile__three {
  grid-area: 2 / 3 / 5 / 4;
  height: 15vw;
}

.m-profile__four {
  grid-area: 5 / 3 / 9 / 4;
  height: 15vw;
}

.m-profile__five {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 1px 1px;
  grid-area: 3 / 5 / 6 / 6;
  height: 20vw;
}

.a-learn {
  text-align: right;
  font-size: 3.5vw;
  font-weight: 500;
  height: 13.5vw;
}

.hightlight {
  margin-left: 10vw;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 500;
  color: #0c2829;
  background: linear-gradient(
    166.76deg,
    rgba(249, 203, 64, 0.6) 0%,
    rgba(202, 46, 85, 0.456) 41.15%,
    rgba(1, 103, 107, 0.486) 100%
  );
  width: 12vw;
  height: 4.5vw;
  transform: matrix(1, -0.02, 0, 1, 0, 0);
  margin-top: 2.1vw;
  transition: 1s;
}

.hightlight:hover {
  background: linear-gradient(
    166.76deg,
    rgba(1, 103, 107, 0.486) 0%,
    rgba(202, 46, 85, 0.456) 41.15%,
    rgba(249, 203, 64, 0.6) 100%
  );
}

/*Skills*/

/*Titres*/

.o-skills__container {
  width: 100%;
  margin-left: 2%;
  margin-right: 3%;
}

.m-skills__intro {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 8vw;
  margin-bottom: 5vw;
  margin-left: -8vw;
}

.skills__title h2 {
  font-size: 3.5vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

.skills__subtitle p {
  font-size: 1.5vw;
  margin-bottom: 0vw;
  text-align: right;
}

/*Blocs de textes*/

.o-skills__texts {
  display: grid;
  grid-template-columns: 2.4fr 0.3fr 2.4fr 0.3fr 2.4fr 0.5fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.35fr;
  gap: 1px 1px;
  margin-left: 8vw;
}

.o-copy__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.3fr 0.4fr;
  gap: 1px 1px;
  grid-area: 1 / 1 / 4 / 2;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.025),
    0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 1.2vw;
}

.a-copy__icon {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 1.5vw;
}

.a-copy__title {
  grid-area: 2 / 1 / 3 / 2;
  font-size: ;
}

.a-copy__description {
  grid-area: 3 / 1 / 4 / 2;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 1.1vw;
}

.o-webdesign__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.3fr 0.4fr;
  gap: 1px 1px;
  grid-area: 2 / 3 / 5 / 4;
  justify-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.025),
    0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 1vw;
}

.a-webdesign__icon {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 1.5vw;
}

.a-webdesign__title {
  grid-area: 2 / 1 / 3 / 2;
}

.a-webdesign__description {
  grid-area: 3 / 1 / 4 / 2;
  margin-left: 1vw;
  margin-right: 1vw;
}

.o-webdev__block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.3fr 0.4fr;
  gap: 1px 1px;
  grid-area: 3 / 5 / 6 / 6;
  justify-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.025),
    0 15px 40px rgba(166, 173, 201, 0.2);
  padding: 1vw;
}

.a-webdev__icon {
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 1.5vw;
}

.a-webdev__title {
  grid-area: 2 / 1 / 3 / 2;
}

.a-webdev__description {
  grid-area: 3 / 1 / 4 / 2;
  margin-left: 1vw;
  margin-right: 1vw;
}
/*Soft skills*/

.o-softSkills__container {
  width: 100%;
  margin-left: 3%;
}

.m-softSkills__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 8vw;
  margin-top: 8vw;
  margin-bottom: 5vw;
}

.softSkills__title h2 {
  font-size: 3.5vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.softSkills__subtitle p {
  font-size: 1.5vw;
  margin-bottom: 0vw;
}

/*Block*/

.o-softSkills__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: -3;
}

/*Image left*/

.o-softSkills__image {
  margin-left: 2vw;
  margin-top: 5vw;
  width: 30%;
}

/*Bubles right*/

.o-softSkills__bubbles {
  width: 50%;
  margin-left: 15vw;
  z-index: -4;
}

.m-curiosityBubble {
  z-index: -3;
  position: absolute;
  top: 250vw;
  left: 56vw;
}

.m-curiosityBubble h3 {
  position: relative;
  top: -10vw;
  left: 3vw;
}

.m-senseResponsabilityBuble {
  z-index: -3;
  position: absolute;
  top: 260vw;
  left: 78vw;
}

.m-senseResponsabilityBuble h3 {
  width: 50%;
  text-align: center;
  position: relative;
  top: -11vw;
  left: 2vw;
}

.m-activeListeningBubble {
  z-index: -3;
  position: absolute;
  top: 280vw;
  left: 75vw;
}

.m-activeListeningBubble h3 {
  width: 50%;
  text-align: center;
  position: relative;
  top: -11.5vw;
  left: 3vw;
}

.m-empathyBuble {
  z-index: -3;
  position: absolute;
  top: 271vw;
  left: 56vw;
}

.m-empathyBuble h3 {
  width: 50%;
  text-align: center;
  position: relative;
  top: -10vw;
  left: 2.5vw;
}

/*Projects*/

/*Container*/

.o-projects__container {
  width: 100%;
  margin-left: 3%;
  margin-right: 2%;
  margin-top: 12vw;
}

/*Titres*/

.m-projects__intro {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 5vw;
  margin-left: -8vw;
}

.projects__title h2 {
  font-size: 3.5vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
}

.projects__subtitle p {
  font-size: 1.5vw;
  margin-bottom: 0vw;
  text-align: right;
}

/*Block 3 projects */

.o-projects__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  width: 85%;
}

.o-projects__block div {
  margin-top: 5vw;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.025),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.o-projects__block img {
  border-radius: 25px 25px 25px 25px;
}

/*Project one*/

.m-projectOne {
  width: 600px;
  height: 385px;
  background: linear-gradient(
    140deg,
    rgba(249, 203, 64, 0.45) -0.02%,
    rgba(202, 46, 85, 0.45) 52.55%,
    rgba(1, 103, 107, 0.76) 105.12%
  );
}

.projectOne {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.m-projectOne:hover .projectOne {
  opacity: 0.2;
}

.m-projectOne:hover .hover {
  opacity: 1;
}

.projectOne__btn a {
  position: relative;
  top: -19vw;
  left: 14vw;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  margin: 2vw;
  background-color: #ca2e55;
  border-radius: 25px 25px 2px 25px;
  height: 1vw;
  width: 8vw;
}

/*Project two*/

.m-projectTwo {
  width: 600px;
  height: 385px;
  background: linear-gradient(
    140deg,
    rgba(249, 203, 64, 0.45) -0.02%,
    rgba(202, 46, 85, 0.45) 52.55%,
    rgba(1, 103, 107, 0.76) 105.12%
  );
}
.projectTwo {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.hover {
  transition: 1s ease;
  opacity: 0;
}

.m-projectTwo:hover .projectTwo {
  opacity: 0.2;
}

.m-projectTwo:hover .hover {
  opacity: 1;
}

.projectTwo__btn a {
  position: relative;
  top: -19vw;
  left: 14vw;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  margin: 2vw;
  background-color: #ca2e55;
  border-radius: 25px 25px 2px 25px;
  height: 1vw;
  width: 8vw;
}

/*Project three*/

.m-projectThree {
  width: 600px;
  height: 385px;

  background: linear-gradient(
    140deg,
    rgba(249, 203, 64, 0.45) -0.02%,
    rgba(202, 46, 85, 0.45) 52.55%,
    rgba(1, 103, 107, 0.76) 105.12%
  );
}
.projectThree {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
}

.projectThree__hover {
  transition: 1s ease;
  opacity: 0;
}

.m-projectThree:hover .projectThree {
  opacity: 0.2;
}

.m-projectThree:hover .projectThree__hover {
  opacity: 1;
}

.projectThree__btn a {
  position: relative;
  top: -19vw;
  left: 14vw;
  color: white;
  font-size: 1.2vw;
  padding: 1vw;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  margin: 2vw;
  background-color: #ca2e55;
  border-radius: 25px 25px 2px 25px;
  height: 1vw;
  width: 8vw;
}

/*Contact*/

/*Footer*/

footer {
  height: 4%;
}
